@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900;200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(media/Backgroundcollage.png);
  background-position-x: center;
  background-size: cover;
  color: #000;
}

.App{
  overflow: hidden;
}

.ClickToExit{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}


.Logo h1 {
  font-size: 2em;
  font-family: "Playfair Display";
  padding: 0 0.5em;
  color: #fff;
}

.Logo span {
  color: #ff0000;
}

@keyframes poing {
  from {
    margin-left: -10em;
  }
  to {
    margin-left: 0em;
  }
}

.hamburger svg {
  margin-top: 0.6em;
  width: 30px;
  height: auto;
}

.hamburger .rectangle{
	background: #fff;
	margin-top: 7px;
	width: 30px;
	height: 4px;
	border-radius: 20px;
	transition: all 500ms ease;
}

.fill-white .rectangle{
	background: #fff;
}

.fill-white .top{
	transform: rotate(-45deg) translateY(7.5px);
}

.fill-white .middle{
	display: none;
}

.fill-white .bottom{
	transform: rotate(45deg) translateY(-7.5px);
}

.fill-white svg path {
  fill: #fff;
}

.fill-white h1 {
  color: #fff;
}

.hamburger {
  padding: 0 0.5em;
  border-radius: 50px;
}

.hamburger,
.Logo,
.Trending,
.SignUp button,
.Cart {
  cursor: pointer;
}



.Trending,
.Cart {
  display: flex;
  align-items: center;
}

.Trending h1,
.Cart h1 {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  padding: 0 1em;
  color: #fff;
}

.Trending svg {
  width: 20px;
  height: auto;
}

.Trending svg path,
.Cart svg path,
.Cart_svg svg path {
  fill: #fff;
}

.SignUp button {
  outline: none;
  border: none;
  font-family: Poppins, sans-serif;
  font-size: 1em;
  padding: 0.5em 2.5em;
  margin: 0 1em;
  border-radius: 15px;
  background: #fff;
}

.SignUp button:hover {
  background: rgb(248, 248, 248);
}

.Cart {
  margin: 0.3em 1em;
}

.Cart_svg svg {
  padding: 0.3em 0;
  width: 35px;
  height: auto;
}



.navwidth {
  max-width: 95vw;
  margin: 0 auto;
}

.boxwidth {
  max-width: 90vw;
  margin: 0 auto;
}

.Left,
.Right {
  display: flex;
  align-items: center;
/* z-index: 1; */
  transition: all 500ms ease;
}

/* Navigation */

.Navigation {
  /* color: #f6f7f9; */
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  animation: slide 500ms ease-in;
}

@keyframes slide {
  10% {
    transform: translateY(-5em);
    opacity: 0;
  } 50% {
    opacity: 0.5;
  } 100% {
    transform: translateY(0em);
    opacity: 1;
  }
}

.Nav {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Sidebar */


.sidebar,
.blur {
  position: absolute;
  top: 7px;
  width: 25em;
  max-width: 95vw;
  height: 98.5vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(22px);
  border-radius: 20px;
  padding: 2em 0.5em;
}

.Leftbar .sidebar,
.Leftbar .blur{
  left: 7px;
}

.Rightbar .sidebar,
.Rightbar .blur{
  right: 7px;
}

.Rightbar .topbar{
	display: flex;
	justify-content: flex-end;
	align-items: center;
  padding: 0 2em;
}

.Leftbar .sidebar_hide,
.Leftbar .blur_hide{
  transform: translateX(-50em);
  transition: transform 500ms ease;
}

.Leftbar .sidebar_show,
.Leftbar .blur_show{
  transform: translateX(0);
  animation: LeftSlideIn 500ms ease;
}

.Rightbar .sidebar_hide,
.Rightbar .blur_hide{
  transform: translateX(50em);
  transition: transform 500ms ease;
}

.Rightbar .sidebar_show,
.Rightbar .blur_show{
  animation: RightSlideIn 500ms ease;
}



@keyframes RightSlideIn {
  from{
    transform: translateX(50em);
  } to {
    transform: translateX(0);
  }
}

@keyframes LeftSlideIn {
  from{
    transform: translateX(-50em);
  } to {
    transform: translateX(0);
  }
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li{
  border-radius: 10px;
  font-size: 1.5em;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  color: #fff;
  cursor: pointer;
}

.sidebar p{
  margin: 0.3em;
  padding: 1em 2em;
  font-size: 1.5em;
  color: #fff;
  font-family: Poppins, sans-serif;
}

.sidebar ul li:hover {
  background: #C4C4C466;
  /* background: #287cd16c; */
}

.Rightbar .cart_List li,
.Leftbar .menu_List li{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5em 0.7em;
  margin: 0;
  margin-bottom: 0.5em;
}

.Rightbar .cart_List li svg,
.Leftbar .menu_List li svg{
  fill: #fff;
  flex-shrink: 0;
  margin-right: 1em;
}

.Rightbar .cart_List .cart_List_text .cart_List_subtext{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Rightbar .cart_List .cart_List_text h3{
  font-size: 0.7em;
  width: 100%;
}

.cart_List .cart_empty p{
  font-size: 1em;
  text-align: center;
}

.Rightbar .cart_List .cart_List_text .cart_List_subtext p{
  font-size: 0.5em;
  padding: 0;
}

.Leftbar .menu_List{
  margin-top: 3em;
}

.Leftbar .menu_List li{
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5em;
}

.Leftbar .menu_List h3{
  font-size: 1em;
  font-weight: 300;
}

/* --------Hero--------- */

.Hero_subtext{
  margin-top: 25em;
}

.Hero_subtext h2 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #dadada;
  font-size: 4em;
  text-align: center;
  animation: fadewithtransform 500ms ease-in;
}

@keyframes fadewithtransform{
  from{
    transform: translateX(-2em);
    opacity: 0;
  } to {
    transform: translateX(0);
    opacity: 1 ;
  }
}

.Hero_subtext button h3 {
  font-family: Poppins, sans-serif;
  font-size: 2em;
}


.Hero_subtext h3 {
  font-family: Poppins, sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

.Hero_subtext h3 span {
  color: #fd2323;
  cursor: pointer;
}

.Hero_subtext button {
  display: inline;
  padding: 1em 4em;
  outline: none;
  border: none;
  margin: 1em auto;
  border-radius: 50px;
  margin-top: 2em;
  background: #fff;
  cursor: pointer;
  min-width: 22em;
  animation: fade 500ms ease;
}

@keyframes fade{
  from{
    opacity: 0;
  } to {
    opacity: 1 ;
  }
}

.Hero_subtext .button-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Hero_subtext .button_sub{
  color: #fff;
}

.Hero_subtext svg {
  margin: 0 1em;
  width: 35px;
  height: auto;
}

.Option-box {
  text-align: center;
}
