/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/

@media all and (max-width: 1700px) {
  .Hero_subtext button {
    padding: 1em 4em;
  }

  .Hero_subtext .button-content h3 {
    font-size: 1.6em;
    text-align: center;
  }

  .Hero_subtext svg {
    margin: 0 1em;
    width: 30px;
    height: auto;
  }
}

@media all and (max-width: 1500px) {
  body {
    background-size: auto;
  }

  .Hero_subtext button {
    padding: 1em 3em;
  }

  .Hero_subtext .button-content h3 {
    font-size: 1.4em;
  }
}

@media all and (max-width: 1280px) {
  .Hero_subtext h2 {
    font-size: 2em;
  }

  .Hero_subtext button {
    padding: 1em 3em;
  }

  .Hero_subtext .button-content h3 {
    font-size: 1.3em;
  }
}

@media all and (max-width: 480px) {

  body{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.44)), url(media/Backgroundcollage2.png);
    background-position-x: center;
    background-size: auto;
  }

  .Trending h1,
  .Cart h1,
  .SignUp {
    display: none;
  }

  .Trending {
    width: 100%;
    justify-content: flex-end;
    margin-right: 3em;
  }

  .Hero_subtext{
    margin-top: 50vw;
  }

  .Hero_subtext h2 {
    font-size: 3.5em;
    margin-left: 0.5em;
    text-align: left;
  }

  .Cart {
    margin-right: 1.5em;
  }

  .Hero_subtext button {
    padding: 1em 2em;
  }

  .Hero_subtext svg {
    margin: 0 1em;
    width: 30px;
    height: auto;
  }

  .Hero_subtext .button-content h3 {
    font-size: 1.3em;
  }

  .Hero_subtext h3 span {
    color: #e20000;
  }

  .Option-box {
    width: 100%;
  }
}
